<div class="template-test">
  <h1>Hello from test ref. Title: {{ page.title }}</h1>
  <div class="content">{{ page.content }}</div>
  <p>Input: {{ section.settings['input-field'] }}</p>
  <div>Alignment: {{ section.settings["vertical_alignment"] }}</div>
  <p>Size: {{ blogs.size }}</p>
</div>

{% schema %}
  {
    "name": "Test Reference",
    "settings": [
      {
        "type": "text",
        "id": "input-field",
        "default": "This is default value",
        "label": "A reference test"
      },
      {
        "type": "select",
        "id": "vertical_alignment",
        "label": "Vertical alignment",
        "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
        "default": "top"
      }
    ],
    "presets": [{"name": "Test Reff"}]
  }
{% endschema %}